export(addFeature)
export(blatListedSet)
export(blatSeqs)
export(clusterSites)
export(decodeByBarcode)
export(dereplicateReads)
export(doRCtest)
export(extractFeature)
export(extractSeqs)
export(findAndTrimSeq)
export(findBarcodes)
export(findIntegrations)
export(findLTRs)
export(findLinkers)
export(findPrimers)
export(getIntegrationSites)
export(getSectorsForSamples)
export(otuSites)
export(pairwiseAlignSeqs)
export(primerIDAlignSeqs)
export(pslToRangedData)
export(read.SeqFolder)
export(read.blast8)
export(read.psl)
export(read.sampleInfo)
export(read.seqsFromSector)
export(removeReadsWithNs)
export(replicateReads)
export(splitByBarcode)
export(splitSeqsToFiles)
export(startgfServer)
export(stopgfServer)
export(summary.elegant)
export(summary.simple)
export(trimSeqs)
export(troubleshootLinkers)
export(vpairwiseAlignSeqs)
export(write.listedDNAStringSet)
import(Biostrings)
import(GenomicRanges)
import(RMySQL)
import(dataframe)
import(doBy)
import(parallel)
import(plyr)
import(xlsx)
